<h1><%= @repo.data_title %></h1>

<div class='row-fluid'>  
  
  <div class='span9'>
    <p>
      <%= @repo.description %>
    </p>

    <dl class='dl-horizontal'>

      <% unless @repo.licenses.empty? %>
        <dt><%= 'License'.pluralize(@repo.licenses.length) %></dt>
        <dd>
          <% @repo.licenses.each do |l| %>
            <%= link_to license_name(l), l.uri %>
          <% end %>
        </dd>
      <% end %>

      <% unless @repo.publishers.empty? %>
        <dt><%= 'Publisher'.pluralize(@repo.publishers.length) %></dt>
        <dd>
          <% @repo.publishers.each do |agent| %>
            <%= agent_link(agent) %>
          <% end %>
        </dd>
      <% end %>

      <% unless @repo.maintainers.empty? %>
        <dt><%= 'Maintainer'.pluralize(@repo.maintainers.length) %></dt>
        <dd>
          <% @repo.maintainers.each do |agent| %>
            <%= agent_link(agent) %>
          <% end %>
        </dd>
      <% end %>
      
      <% unless @repo.contributors.empty? %>
        <dt><%= 'Contributor'.pluralize(@repo.contributors.length) %></dt>
        <dd>
          <% @repo.contributors.each do |agent| %>
            <%= agent_link(agent) %>
          <% end %>
        </dd>
      <% end %>

      <% if @repo.keywords %>
        <dt>Keywords</dt>
        <dd>
          <ul class='inline'>
            <% @repo.keywords.each do |keyword| %>
              <li><span class='label'><%= keyword%></span></li>
            <% end %>
          </ul>
        </dd>
      <% end %>
      
    </dl>
    
    <% if @repo.sources %>
      <h4>Sources</h4>
      <ul>
        <% @repo.sources.each do |source| %>
          <li>
            <% if source.web %>
              <%= link_to source.name, source.web%>
            <% else %>
              <%= source.name %>
            <% end %>            
          </li>
        <% end %>
      </ul>
    <% end %>
    
    
    <% @repo.distributions.each do |file| %>
    
      <h3><%= file.title %></h3>

      <dl class='dl-horizontal'>
        <dt>Format</dt>
        <dd><span class='label label-success'><%= file.format %></label></dd>
      </dl>

      <% if file.description %>
        <p><%= file.description %></p>
      <% end %>

      <% if file.schema %>
        <table class='table table-striped'>
          <tr>
            <th>ID</th>
            <th>Label</th>
            <th>Description</th>
            <th>Type</th>
            <th>Format</th>
            <th>Unit</th>
          </tr>
          <% file.schema['fields'].each do |field| %>
            <tr>
              <td><%= field['id'] %></td>
              <td><%= field['label'] %></td>
              <td><%= field['description'] %></td>
              <td><%= field['type'] %></td>
              <td><%= field['format'] %></td>
              <td><%= field['unit']['id'] if field['unit'] %></td>
            </tr>
          <% end %>
  
        </table>
      <% end %>

      <% preview_data = file.data.first(10) %>
      <h4>Sample Data (<%= preview_data.length %> of <%= file.data.size %>)</h4>
      <div class='sample-data'>
      <table class='table table-striped'>
        <tr>
          <% file.headers.each do |header| %>
            <th><%= header %></th>
          <% end %>
        </tr>
        <% preview_data.each do |row| %>
          <tr>
            <% file.headers.each do |header| %>
              <td><%= row[header] %></td>
            <% end %>
          </tr>
        <% end %>
  
      </table>
      </div>
    <% end %>
    
  </div>

  <div class='span3'>
    <% if @repo.host == :github %>
      <div class='well'>
        <div class='actionbutton'>
          <a href='<%= @repo.github_path %>' class='btn btn-warning btn-block'>
            <i class='icon-code-fork'></i>
            Fork on GitHub
          </a>
        </div>
        <div class='actionbutton'>
          <a href='<%= @repo.github_path("archive/master.zip") %>' class='btn btn-primary btn-block'>
            <i class='icon-cloud-download'></i>
            Download Latest
          </a>
        </div>
        <div class='actionbutton'>
          <% feed = @repo.github_path("commits/master.atom") %>
          <%= auto_discovery_link_tag :rss, feed %>
          <a href='<%= feed %>' class='btn btn-primary btn-block'>
            <i class='icon-rss'></i>
            Subscribe to updates
          </a>
        </div>
      </div>
    <% end %>

    <% if @repo.host == :bitbucket %>
      <div class='well'>
        <div class='actionbutton'>
          <a href='<%= @repo.bitbucket_path %>' class='btn btn-warning btn-block'>
            <i class='icon-code-fork'></i>
            Fork on Bitbucket
          </a>
        </div>
        <div class='actionbutton'>
          <a href='<%= @repo.bitbucket_path("get/master.zip") %>' class='btn btn-primary btn-block'>
            <i class='icon-cloud-download'></i>
            Download Latest
          </a>
        </div>
        <div class='actionbutton'>
          <% feed = @repo.bitbucket_path("rss") %>
          <%= auto_discovery_link_tag :rss, feed %>
          <a href='<%= feed %>' class='btn btn-primary btn-block'>
            <i class='icon-rss'></i>
            Subscribe to updates
          </a>
        </div>
      </div>
    <% end %>

    <% if @repo.host == :gist %>
      <div class='well'>
        <div class='actionbutton'>
          <a href='<%= @repo.gist_path %>' class='btn btn-warning btn-block'>
            <i class='icon-code-fork'></i>
            Fork on Gist
          </a>
        </div>
        <div class='actionbutton'>
          <a href='<%= @repo.gist_path("download") %>' class='btn btn-primary btn-block'>
            <i class='icon-cloud-download'></i>
            Download Latest
          </a>
        </div>
      </div>
    <% end %>

    <h3>Changes</h3>
    <ul class='unstyled' id='commits'>
      <% @repo.change_history.each do |commit| %>
        <li>
          <% if @repo.host == :github %>
            <%= link_to commit.message, @repo.github_path("commit/#{commit.sha}") %>
          <% elsif @repo.host == :bitbucket %>
            <%= link_to commit.message, @repo.bitbucket_path("commits/#{commit.sha}") %>
          <% elsif @repo.host == :gist %>
            <%= commit.sha.first(10) %>
          <% else %>
            <%= commit.message %>
          <% end %>
          <br/><small class='pull-right'><%= commit.committer.name %>, <%= commit.committer.date.to_s(:long) %></small>
        </li>
      <% end %>
    </ul>

  </div>
  
</div>