<h1><%= @repo.metadata['title'] || @repo.metadata['name'] %></h1>

<div class='row-fluid'>  
  
  <div class='span9'>
    <p>
      <%= @repo.metadata['description']%>
    </p>

    <dl class='dl-horizontal'>

      <% unless @repo.licenses.empty? %>
        <dt><%= 'License'.pluralize(@repo.licenses.length) %></dt>
        <dd>
          <% @repo.licenses.each do |l| %>
            <%= link_to t(l['id']), l['url']%>
          <% end %>
        </dd>
      <% end %>

      <% unless @repo.maintainers.empty? %>
        <dt><%= 'Maintainer'.pluralize(@repo.maintainers.length) %></dt>
        <dd>
          <% @repo.maintainers.each do |m| %>
            <% if m['web'] %>
              <%= link_to m['name'], m['web']%>
            <% elsif m['email'] %>
              <%= mail_to m['name'], m['email']%>
            <% else %>
              <%= m['name'] %>
            <% end %>
          <% end %>
        </dd>
      <% end %>
      
      <% unless @repo.publishers.empty? %>
        <dt><%= 'Publisher'.pluralize(@repo.publishers.length) %></dt>
        <dd>
          <% @repo.publishers.each do |m| %>
            <% if m['web'] %>
              <%= link_to m['name'], m['web']%>
            <% elsif m['email'] %>
              <%= mail_to m['name'], m['email']%>
            <% else %>
              <%= m['name'] %>
            <% end %>
          <% end %>
        </dd>
      <% end %>

    </dl>
    
    <% @repo.metadata['resources'].each do |resource| %>
    
      <h3><%= resource['path'] %></h3>

      <dl class='dl-horizontal'>
        <dt>Format</dt>
        <dd><span class='label label-success'><%= @repo.format %></label></dd>
      </dl>

      <% if resource ['description'] %>
        <p><%= resource ['description']%></p>
      <% end %>

      <% if resource['schema'] %>
        <table class='table table-striped'>
          <tr>
            <th>ID</th>
            <th>Label</th>
            <th>Description</th>
            <th>Type</th>
            <th>Format</th>
            <th>Unit</th>
          </tr>
          <% resource['schema']['fields'].each do |field| %>
            <tr>
              <td><%= field['id'] %></td>
              <td><%= field['label'] %></td>
              <td><%= field['description'] %></td>
              <td><%= field['type'] %></td>
              <td><%= field['format'] %></td>
              <td><%= field['unit']['id'] if field['unit'] %></td>
            </tr>
          <% end %>
  
        </table>
      <% end %>

      <h4>Sample Data (<%= @preview_data.length %> of <%= @repo.data.size %>)</h4>
      <table class='table table-striped'>
        <tr>
          <% @repo.headers.each do |header| %>
            <th><%= header %></th>
          <% end %>
        </tr>
        <% @preview_data.each do |row| %>
          <tr>
            <% @repo.headers.each do |header| %>
              <td><%= row[header] %></td>
            <% end %>
          </tr>
        <% end %>
  
      </table>
  
    <% end %>
    
  </div>

  <div class='span3'>
    <% if @repo.hosted_by_github? %>
      <div class='well'>
        <a href='https://github.com/<%= @repo.github_user_name %>/<%= @repo.github_repository_name %>/archive/master.zip' class='btn btn-primary'>
          <i class='icon icon-white icon-download-alt'></i>
          Download Latest
        </a>
      </div>

      <h3>Changes</h3>
      <ul class='unstyled' id='commits'>
        <% @repo.commits.each do |commit| %>
          <li>
            <%= link_to commit['commit']['message'],
             "https://github.com/#{@repo.github_user_name}/#{@repo.github_repository_name}/commit/#{commit['sha']}" %>
            <br/><small class='pull-right'><%= commit['commit']['committer']['name']%>, <%= DateTime.parse(commit['commit']['committer']['date']).to_s(:long) %></small>
          </li>
        <% end %>
      </ul>
      <p>
        <a href='https://github.com/<%= @repo.github_user_name %>/<%= @repo.github_repository_name %>'>
          View more on Github
        </a>
      </p>
    <% end %>

  </div>
  
</div>