<h1><%= @repo.metadata['name'] %></h1>

<div class='row-fluid'>  
  
  <div class='span9'>
    <p>
      <%= @repo.metadata['description']%>
    </p>

    <dl class='dl-horizontal'>
      <dt>Format</dt>
      <dd><span class='label label-success'><%= @repo.format %></label></dd>
      <dt>License</dt>
      <dd><%= link_to t(@repo.metadata['licenses'][0]['id']), @repo.metadata['licenses'][0]['url'] %></dd>
    </dl>
    
    <% @repo.metadata['resources'].each do |resource| %>
    
      <h3><%= resource['path'] %></h3>

      <% if resource['schema'] %>
        <table class='table table-striped'>
          <tr>
            <th>ID</th>
            <th>Label</th>
            <th>Type</th>
            <th>Format</th>
            <th>Unit</th>
          </tr>
          <% resource['schema']['fields'].each do |field| %>
            <tr>
              <td><%= field['id'] %></td>
              <td><%= field['label'] %></td>
              <td><%= field['type'] %></td>
              <td><%= field['format'] %></td>
              <td><%= field['unit']['id'] if field['unit'] %></td>
            </tr>
          <% end %>
  
        </table>
      <% end %>

      <h4>Sample Data (<%= @preview_data.length %> of <%= @repo.data.size %>)</h4>
      <table class='table table-striped'>
        <tr>
          <% @repo.headers.each do |header| %>
            <th><%= header %></th>
          <% end %>
        </tr>
        <% @preview_data.each do |row| %>
          <tr>
            <% @repo.headers.each do |header| %>
              <td><%= row[header] %></td>
            <% end %>
          </tr>
        <% end %>
  
      </table>
  
    <% end %>
    
  </div>

  <div class='span3'>
    <% if @repo.hosted_by_github? %>
      <div class='well'>
        <a href='https://github.com/<%= @repo.github_user_name %>/<%= @repo.github_repository_name %>/archive/master.zip' class='btn btn-primary'>
          <i class='icon icon-white icon-download-alt'></i>
          Download Latest
        </a>
      </div>

      <h3>Changes</h3>
      <ul class='unstyled'>
        <% @repo.commits.each do |commit| %>
          <li>
            <%= link_to DateTime.parse(commit['commit']['committer']['date']).to_s(:long),
             "https://github.com/#{@repo.github_user_name}/#{@repo.github_repository_name}/commit/#{commit['sha']}" %>
          </li>
        <% end %>
      </ul>
      <p>
        <a href='https://github.com/<%= @repo.github_user_name %>/<%= @repo.github_repository_name %>'>
          View more on Github
        </a>
      </p>
    <% end %>

  </div>
  
</div>