<div class='well pull-right'>
  <a href='https://github.com/<%= @user %>/<%= @repo %>/archive/master.zip' class='btn btn-primary'>
    <i class='icon icon-white icon-download-alt'></i>
    Download Latest
  </a>
</div>

<h1><%= @metadata['name'] %></h1>

<div class='row'>  
  
  <div class='span9'>
    <p>
      <%= @metadata['description']%>
    </p>

    <dl class='dl-horizontal'>
      <dt>Format</dt>
      <dd><span class='label label-success'><%= @format %></label></dd>
      <dt>License</dt>
      <dd><%= link_to @metadata['license']['name'], @metadata['license']['url'] %></dd>
    </dl>
    
    <h3>Definitions</h3>
    <table class='table table-striped'>
      <tr>
        <th>Label</th>
        <th>Name</th>
        <th>Type</th>
        <th>Unit</th>
      </tr>
      <% @metadata['definitions'].each do |definition| %>
        <tr>
          <td><%= definition['label'] %></td>
          <td><%= definition['name'] %></td>
          <td><%= definition['type'] %></td>
          <td><%= definition['unit'] %></td>
        </tr>
      <% end %>
  
    </table>


    <h3>Sample Data (5 of <%= @data.size %>)</h3>
    <table class='table table-striped'>
      <tr>
        <% @headers.each do |header| %>
          <th><%= header %></th>
        <% end %>
      </tr>
      <% @data.first(5).each do |row| %>
        <tr>
          <% @headers.each do |header| %>
            <td><%= row[header] %></td>
          <% end %>
        </tr>
      <% end %>
  
    </table>
    
  </div>

  <div class='span2'>
    <h3>Changes</h3>
    <ul class='unstyled'>
      <% @commits.each do |commit| %>
        <li>
          <%= link_to DateTime.parse(commit['commit']['committer']['date']).to_s(:short),
           "https://github.com/#{@user}/#{@repo}/commit/#{commit['sha']}" %>
        </li>
      <% end %>
    </ul>
    <p>
      <a href='https://github.com/<%= @user %>/<%= @repo %>'>
        View more on Github
      </a>
    </p>

  </div>
  
</div>