<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Github Viewer</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body data-spy="scroll" data-target="#mainnav">

    <header id="header">
    	<div class="container">
    		<div class="branding">
    	  	<a id="logo" rel="home" title="Home" href="/">
    				<img width="131" height="54" class="b_png" alt="Home" src="http://theodi.org/sites/default/files/logo.png">
    			</a>
    			<hgroup id="name-and-slogan">
    				<h1 id="site-name">
    					<a rel="home" title="Open Data Institute" href="http://theodi.org/">
    	          <img width="326" height="30" class="b_png" alt="Open Data Institute" src="http://theodi.org/sites/default/files/logo_a.png">                            
    	        </a>
    	      </h1>
    	      <h2 id="site-slogan">Knowledge for everyone</h2>
    			</hgroup>
    		</div>
    		<nav>
    			<div id="mainnav" class="navbar navbar-inverse">
    				<div class="navbar-inner">
  						<a class="brand" href="/">Github Viewer</a>
    					<ul class="nav">
              </ul>
    				</div>
    			</div>
    	  </nav>
    	</div>
    </header>

    <div class="container">

      <% if notice %><div class="alert alert-info"><%= notice %></div><% end %>
      <% if alert %><div class="alert alert-error"><%= alert %></div><% end %>
      
      <section>
      	<%= yield %>
  	  </section>
    </div>

    <footer id="footer">
    	<div class="container">
      	<nav>
    			<ul>
    				<li><a href="http://theodi.org/privacy-policy">Privacy Policy</a></li>
    				<li><a href="http://theodi.org/terms-of-use">Terms of Use</a></li>
    				<li><a href="http://theodi.org/cookie-policy">Cookie Policy</a></li>
    				<li><a href="http://theodi.org/feedback">Feedback</a></li>
    			</ul>
    		</nav>
    		<p>
    			<a rel="license" href="http://creativecommons.org/licenses/by/2.0/uk/deed.en_GB">
    				<img style="border-width:0" src="http://i.creativecommons.org/l/by/2.0/uk/80x15.png" alt="Creative Commons Licence">
    			</a>
    			<a href="http://www.theodi.org">Open Data Institute</a> 路 
    			<a href="http://www.openstreetmap.org/?lat=51.522205&amp;lon=-0.08176500000001852&amp;zoom=16&amp;layers=T&amp;mlat=51.52210&amp;mlon=-0.08343">65 Clifton Street, London EC2A 4JE</a> 路 
    			<a href="mailto:info@theodi.org">info@theodi.org</a> 路 
    			Company <a href="http://opencorporates.com/companies/gb/08030289">08030289</a> 路 
    			VAT 143 7796 80
    		</p>
    	</div>
    </footer>

  </body>
</html>