<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Git Data Viewer</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body data-spy="scroll" data-target="#mainnav">

    <header id="header">
    	<div class="container">
    		<nav>
    			<div id="mainnav" class="navbar navbar-inverse">
    				<div class="navbar-inner">
  						<a class="brand" href="/">Git Data Viewer</a>
    					<ul class="nav">
                <li><a href='http://theodi.org'>An Open Data Institute experiment</a></li>
              </ul>
    				</div>
    			</div>
    	  </nav>
    	</div>
    </header>

    <div class="container">

      <% if notice %><div class="alert alert-info"><%= notice %></div><% end %>
      <% if alert %><div class="alert alert-error"><%= alert %></div><% end %>
      
      <section>
      	<%= yield %>
  	  </section>
    </div>

  </body>
</html>